body {

	margin: auto;
	margin-left: 300px;
	max-width: 1200px;
	font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: center;
	background-color: rgb(54, 243, 54);
	border: 5px solid black;
	font-size: 1.5rem;
}

nav li {
	padding: 5px 0px 5px 0px;
	margin: auto;
	list-style: none;
}

nav li a {
	color: black;
}

nav li:hover {
	border: 1px dotted blue;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	background-color: black;
}

.logo h1 {
	font-size: 3rem;
	margin-left: 20px;
	color: blanchedalmond;
}

.logo h1::after {
	content: "__";
}

.admin-link a {
	text-justify: end;
	color: rgb(56, 56, 56);
}
