{% extends 'frontend/base.html' %}

{% block content %}
<h1>🇳🇴 Om Forro i Oslo</h1>
<p>Formålet med denne siden er å samle informasjon om forró i Oslo.</p>
<p>Vi er en liten, men engasjert gjeng som driver med forró. For tiden arrangerer vi dansekvelder på utestedet Uhørt i Strøget.</p>
<p>Det organsiatoriske skjer 100 % på frivillig basis, og vi har ikke noe dansestudio eller annen institusjon i ryggen. Vi håper derfor at alle som er interessert i å danse forró i Oslo, vil møte opp på dansetreff.</p>

<h3>Om nettsiden:</h3>
<p>Denne nettsiden er et uavhengig prosjekt, og formålet er å samle informasjon om forró og forró-relaterte arrangementer i Oslo.</p>
<p>Dersom du har innspill, forslag eller ønsker å bidra med egne tekster, bilder og videoer: Ja takk!</p>
<p>Ta kontakt med <a href="mailto:post@olehammersland.com">Ole Hammersland</a> for å få en egen tilgang.</p>

<h1>🇬🇧 About Forro in Oslo</h1>
<p>The purpose of this site is to gather information concerning forró in Oslo.</p>
<p>We are a small, but enthusiastic bunch that dance forró regularly. Currently we are hosting social dances at Uhørt in Strøget, usually with a small introductory course.</p>
<p>Everything we do is 100 % voluntary, and we are not working for a dance studio or any other institution. We hope that everybody with a heart for forró will join the cause and come to social dances :)</p>

<h3>About this website:</h3>
<p>This website is an independent project whith the intention of aggregating information regarding forró and forró-related events in Oslo.</p>
<p>If you have any suggestions or want to contribute with your own texts, pictures or videoes: Yes, please!</p>
<p>Contact <a href="mailto:post@olehammersland.com">Ole Hammersland</a> to get your own user.</p>
{% endblock %}