{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forro i Oslo 💃</title>
    <link rel='icon' type='image/png' href="{% static 'frontend/favicon.png' %}">
	<link rel='stylesheet' href="{% static 'frontend/global.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
<div class="logo">
<img src="{% static 'frontend/logo.png' %}" alt="Nettsidens logo" width="100" height="100">
<h1>Forro i Oslo</h1>
</div>
<nav>
    <li><a href="{% url 'index' %}">Hjem</a></li>
    <li><a href="{% url 'about' %}">Om</a></li>
</nav>
    {% block content %}{% endblock %}

<footer>
    <div>
    <p><a href="{% url 'index' %}">Hjem</a></p>
    <p><a href="{% url 'about' %}">Om</a></p>
    </div>
    <div>
    <p>©{% now "Y" %}</p>
    <p>Webmaster: <a href="https://www.olehammersland.com">Ole Hammersland</p>
    </div>
    <p><a class="admin-link" href="/admin" style="color: grey;">Internt</a></p>
</footer>
<img id="bottom_banner" src="{% static 'frontend/banner_bottom.jpg' %}">
</body>
</html>