{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}

{% if single  %}
{# Enkel post #}

<div class="blogginnlegg">
<h1>{{ post.title }}</h1>

<img src="{% get_media_prefix %}{{ post.img.src }}" alt="{{ post.img.alt }}">
<div class="ingress"><strong>{{ post.ingress |safe}}</strong></div>

<small>Skrevet av: {{ post.author.first_name }} {{ post.author.last_name }}</small>

{{ post.body |safe}}

<p style="text-align: center;"><a href="{% url 'allblog' %}">Tilbake</a></p>

</div>
{% else %}
{# Oversikt over alle poster #}

<h1>Poster om Forro i Oslo</h1>

{% for post in posts %}

<div class="blogteaser">
<div class="text">
<h2>{{post.title}}</h2>
{{post.ingress |safe}}
<a href="{% url 'singleblog' post.slug %}">Les mer!</a>
</div>
<img src="{% get_media_prefix %}{{ post.img.src }}" alt="{{ post.img.alt }}">
</div>

{% empty %}
<p>Ingen poster å vise…</p>
{% endfor %}


{% endif %}

{% endblock %}