{% extends 'frontend/base.html' %}
{% load static %}

{% block head %}
    
	<link rel='stylesheet' href="{% static 'frontend/bundle.css' %}">
	<script defer src="{% static 'frontend/bundle.js' %}"></script>
{% endblock %}

{% block content %}
<div id="sap-app">
<div class="box svelte-2dcx45"><h2>Klar for å danse?</h2>
    <p>Forro er en lett tilgjengelig og populær dans fra Brasil. Den har blitt meget populær i Europa i løpet av de seneste årene. I Norge har ikke dansen vært så populær ennå.</p>
    <p>Mer informasjon om Forro kommer på denne siden. Her kan du bli kjent med dansen og finne arrangementer her i Oslo.</p>
    <p><button class="btn svelte-2dcx45">Les mer om Forro her</button></p>
</div>

  
  <p>venter</p>
  


  <p>Some static element</p>

  <div class="container svelte-11wsuqt"><img src="plassholder.jpg" alt="Folkefest med forro">
<h1>Title</h1>
<p><strong>Text</strong></p>
Text
</div>
</div>
{% endblock %}