{% extends 'frontend/base.html' %}
{% load static %}

{% block head %}
    
	<link rel='stylesheet' href="{% static 'frontend/bundle.css' %}">
	<script defer src="{% static 'frontend/bundle.js' %}"></script>
{% endblock %}

{% block content %}
<div id="sap-app">

  <div class="tab-wrap svelte-1azoh89"><button class="tab active svelte-1azoh89">Forro</button><button class="tab svelte-1azoh89">Trinnene</button><button class="tab svelte-1azoh89">Musikken</button></div>

<div class="box svelte-1azoh89" id="Forro"><h2>Klar for dans?</h2>
        <p>Forro er en lett tilgjengelig og populær dans fra Brasil. Den har blitt meget populær i Europa i løpet av de seneste årene. I Norge har ikke dansen vært så populær ennå.</p>
        <p>Mer informasjon om Forro kommer på denne siden. Her kan du bli kjent med dansen og finne arrangementer her i Oslo.</p>
        <p>Denne siden er under konstruksjon.</p>
        <p><button class="btn svelte-1azoh89">Les mer om Forro her</button></p>
    </div>
  
  
  
  <p>venter</p>
  

  <img src="/static/frontend/banner_bottom.jpg" alt="En illustrasjon av dansende par" class="svelte-3lgxsl">

  <h2 class="svelte-1datzha">Siste om Forro i Oslo:</h2>
<div class="container svelte-1datzha"><div class="btn-box svelte-1datzha"></div>
    <div class="post svelte-1datzha"><div class="container"><p><small>Postet: Invalid Date</small></p>
<img src="media/event-images/plassholder.jpg" alt="Folkefest med forro" class="svelte-1yc2abm">
<h2>Title</h2>
Text
<p><a href="blogg/">Les mer</a></p>
</div>
    </div>
    <div class="btn-box svelte-1datzha"></div>
</div>
</div>
{% endblock %}